{{- /*

// This template defines the shellrc file that the devbox shell will run at
// startup.
//
// It includes the user's original shellrc, which varies depending on their
// shell. It will either be ~/.bashrc, ~/.zshrc, a path set in ENV, or something
// else. It also appends any user-defined shell hooks from devbox.json.
//
// Devbox also needs to ensure that the shell's PATH, prompt, and a few other
// things are set correctly at startup. To do this, it must run some commands
// before and after the user's shellrc. These commands are in the
// "Devbox Pre/Post-init Hook" sections.
//
// The devbox pre/post-init hooks assume a PURE_NIX_PATH environment variable is
// already set by the shell hook in shell.nix.tmpl. It preserves the PATH set by
// Nix's "pure" shell mode.
//
// This file is useful for debugging shell errors, so try to keep the generated
// content readable.

 */ -}}

# Begin Devbox Pre-init Hook

# Don't allow the user's shellrc to re-source Nix since we're already in Nix.
export __ETC_PROFILE_NIX_SOURCED=1

# Put the Nix packages at the beginning of the PATH to give them priority over
# programs outside of devbox.
export PATH="$PURE_NIX_PATH"

{{- if .Paths }}

# Append any paths that were in the environment at the time the user launched
# devbox. This gives the shell access to non-devbox programs, while still
# preferring the ones that Nix installed.
{{- range .Paths }}
PATH="$PATH:{{ . }}"
{{- end }}

{{- end }}

# End Devbox Pre-init Hook

{{- if .OriginalInit }}

# Begin {{ .OriginalInitPath }}

{{ .OriginalInit }}

# End {{ .OriginalInitPath }}

{{- end }}

# Begin Devbox Post-init Hook

# Update the $PATH again so that the Nix packages take priority over the
# programs outside of devbox.
export PATH="$PURE_NIX_PATH:$PATH"

# Prepend to the prompt to make it clear we're in a devbox shell.
export PS1="(devbox) $PS1"

# End Devbox Post-init Hook

{{- if .UserHook }}

# Begin Devbox User Hook

{{ .UserHook }}

# End Devbox User Hook

{{- end }}
