#!{{ .BashPath }}

{{/*
# If env variable has never been set by devbox we set it, but also
# default to env value set by user. This means plugin env variables behave a bit
# differently than devbox.json env variables which are always set once.
*/ -}}

{{/*
We use ShellEnvHashKey to prevent doing shellenv if the correct environment is
already set. (perf optimization)

We use the guard to prevent infinite loop if something in shellenv causes 
another wrapped binary to be called. The guard is specific to this project so shellenv
could still cause another project's shellenv to be called.

DO_NOT_TRACK=1 can be removed once we optimize segment to queue events.
*/ -}}

if [[ "${{ .ShellEnvHashKey }}" != "{{ .ShellEnvHash }}" ]] && [[ -z "${{ .ShellEnvHashKey }}_GUARD" ]]; then
export {{ .ShellEnvHashKey }}_GUARD=true
eval "$(DO_NOT_TRACK=1 devbox shellenv -c {{ .ProjectDir }})"
fi

{{/*
We call only-path-without-wrappers so that we do not invoke other bin-wrappers from
this bin-wrapper. Instead, we directly invoke the binary from the nix store, which
should be in PATH.

DO_NOT_TRACK=1 can be removed once we optimize segment to queue events.
*/ -}}
eval "$(DO_NOT_TRACK=1 devbox shellenv only-path-without-wrappers)"

exec {{ .Command }} "$@"
