#!/bin/bash

{{/* 
# If env variable has never been set by devbox we set it, but also
# default to env value set by user. This means plugin env variables behave a bit
# differently than devbox.json env variables which are always set once.
*/ -}}

{{ range $k, $v := .Env }}
if [[ -z "$__DEVBOX_SET_{{ $k }}" ]]; then 
  export {{ $k }}="${ {{- $k }}:-{{ $v }}}"
  export __DEVBOX_SET_{{ $k }}="1"
fi
{{- end }}

{{/*
We use __DEVBOX_SHELLENV_HASH to avoid re-sourcing shellenv. Since wrappers
call other wrappers and potentially modify the environment, we don't want the
environment to get re-written.

DO_NOT_TRACK=1 can be removed once we optimize segment to queue events.
*/ -}}

if [[ "$__DEVBOX_SHELLENV_HASH" != "{{ .ShellEnvHash }}" ]]; then
eval "$(DO_NOT_TRACK=1 devbox shellenv)"
fi

exec {{ .Command }} "$@"
