use_devbox() {
    watch_file devbox.json devbox.lock
    eval "$(devbox shellenv --init-hook --install --no-refresh-alias{{ if .EnvFlag }} {{ .EnvFlag }}{{ end }})"
}
use devbox
{{ if .EnvFile }}
dotenv_if_exists {{ .EnvFile }}
{{ end }}
