use_devbox() {
    watch_file {{ .JSONPath }} {{ .LockPath }}
    eval "$(devbox shellenv --init-hook --install --no-refresh-alias{{ if .EnvFlag}} {{ .EnvFlag }}{{ end }}{{ if .ConfigDir }} {{ .ConfigDir }}{{ end }})"
}
use devbox
{{ if .EnvFile }}
dotenv_if_exists {{ .EnvFile }}
{{ end }}
