.features {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.featureRow {}

.featureRow>div {
    display: flex;
    justify-content: center;
}

.featureItem {
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 400px;
}

.featureSvg {
    height: 100px;
    width: 100px;
    margin-bottom: 48px;
}

.featureSvg path {
    fill: var(--galaxy)
}

[data-theme=dark] .featureSvg path {
    fill: var(--moon)
}
