/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url(../../static/img/eclipse_background_2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 35%;
    height: 100%;
    flex: auto
}

@media (max-width: 1000px) {
    .heroBanner {
        background-size: 500px;
    }
}

.main-wrapper {
    display: flex
}

.featureRow {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-theme=dark] .heroBanner {
    background-color: var(--space);
    color: var(--moon)
}
