# Add files/directories you need to be excluded from copying to container here
# e.g., virtualenv dirs, generated build files, executables, installed packages

# Devbox
.devbox

# Editors
.vscode
.idea

# NodeJS
node_modules
.yalc
dist

# OS
.DS_Store

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Java
*.class
*.jar

# devcontainer
*.devcontainer

