use_devbox() {
    watch_file devbox.json
    {{ .PromptHookEnabled }}
    eval "$(devbox export --init-hook --install)"
    {{ else }}
    eval "$(devbox shellenv --init-hook --install)"
    {{ end }}
}
use devbox
