let
  mirrorURL = builtins.getEnv "DEVBOX_NIXPKGS_URL";
  pkgs = import (fetchTarball {
    url = if mirrorURL == "" then "{{ .NixpkgsInfo.URL }}" else mirrorURL;
  }) {
    {{- if .NixOverlays }}
      overlays = [
      {{- range .NixOverlays }}
        (import (fetchTarball "{{.}}"))
      {{ end -}}
      ];
    {{- end }}
  };
  {{- range .Definitions}}
    {{.}}
  {{end -}}
in with pkgs;
buildEnv {
  ignoreCollisions = true;
  name = "devbox-development";
  paths = [
  {{- range .DevPackages}}
    {{.}}
  {{end -}}
  ];
  pathsToLink = [ "/bin" "/share" "/lib"];
}
