let
  pkgs = import
    (fetchTarball {
      url = "{{ .NixpkgsInfo.URL }}";
      {{- if .NixpkgsInfo.Sha256 }}
      sha256 = "{{ .NixpkgsInfo.Sha256 }}";
      {{- end }}
    })
    { };
  {{- range .Definitions}}
    {{.}}
  {{ end }}
in
with pkgs;
buildEnv {
  ignoreCollisions = true;
  name = "devbox-development";
  paths = [
    {{- range .DevPackages}}
      {{.}}
    {{- end }}
  ];
  pathsToLink = [ "/bin" "/share" "/lib" ];
}
