{
  description = "A devbox shell";

  inputs = {
    nixpkgs.url = "{{ .NixpkgsInfo.URL }}";
    flake-utils.url = "github:numtide/flake-utils";
    {{- range .FlakeInputs }}
    {{.Name}}.url = "{{.URL}}";
    {{- end }}
  };

  outputs = { 
    self,
    nixpkgs,
    {{- range .FlakeInputs }}
    {{.Name}},
    {{- end }}
    flake-utils 
  }:
    flake-utils.lib.eachDefaultSystem (system:
      let
        pkgs = (import nixpkgs {
          inherit system;
          config.allowUnfree = true;
        });
        {{- range .Definitions}}
        {{.}}
        {{- end }}
      in
      {
        devShell = pkgs.mkShell {
          buildInputs = with pkgs; [
            {{- range .DevPackages}}
            {{.}}
            {{- end}}
            {{- range $_, $flake := .FlakeInputs }}
            {{- range $flake.Packages }}
            {{ $flake.Name }}.{{.}}
            {{- end }}
            {{- end }}
          ];
        };
      }
    );
}
