let
  pkgs = import (fetchTarball {
    url = "{{ .NixpkgsInfo.URL }}";
    {{- if .NixpkgsInfo.Sha256 }}
    sha256 = "{{ .NixpkgsInfo.Sha256 }}";
    {{- end }}
  }) {
    {{- if .NixOverlays }}
      overlays = [
      {{- range .NixOverlays }}
        (import (fetchTarball "{{.}}"))
      {{ end -}}
      ];
    {{- end }}
  };
  {{- range .Definitions}}
    {{.}}
  {{end -}}
in with pkgs;
buildEnv {
  name = "devbox-runtime";
  paths = [
  {{- range .RuntimePackages}}
    {{.}}
  {{end -}}
  ];
  pathsToLink = [ "/bin" ];
}
