let
  pkgs = import
    (fetchTarball {
      url = "{{ .NixpkgsInfo.TarURL }}";
    })
    { };
  {{- range .Definitions}}
    {{.}}
  {{ end }}
in
with pkgs;
mkShell {
  packages = [
    {{- range .DevPackages}}
      {{.}}
    {{- end }}
  ];
}
