{{- /*

This template defines the shellrc file that the devbox shell will run at
startup.

It includes the user's original shellrc, which varies depending on their shell.
It will either be ~/.bashrc, ~/.zshrc, a path set in ENV, or something else. It
also appends any user-defined shell hooks from devbox.json.

Devbox needs to ensure that the shell's PATH, prompt, and a few other things are
set correctly after the user's shellrc runs. The commands to do this are in
the "Devbox Post-init Hook" section.

This file is useful for debugging shell errors, so try to keep the generated
content readable.

*/ -}}

{{- range $name, $value := .NixEnv -}}
export {{ $name }}={{ $value }}
{{ end -}}

{{- if .NixEnv }}
# Run the shell hook defined in shell.nix.
eval $shellHook

{{ end -}}

{{- if .OriginalInit -}}
# Begin {{ .OriginalInitPath }}

{{ .OriginalInit }}

# End {{ .OriginalInitPath }}

{{ end -}}

# Begin Devbox Post-init Hook

PATH="{{ .PathPrepend }}:$PATH"

{{- if .HistoryFile }}
HISTFILE={{.HistoryFile}}
{{- end }}

# Export env-vars which nix may remove by default, but are needed for shell UX
{{ range $name, $value := .EnvToKeep }}
export {{ $name }}={{ $value }}
{{ end }}

# Prepend to the prompt to make it clear we're in a devbox shell.
export PS1="(devbox) $PS1"

{{- if .ShellStartTime }}
# log that the shell is ready now!
devbox log shell-ready {{ .ShellStartTime }}
{{ end }}

# End Devbox Post-init Hook

# Switch to the directory where devbox.json config is
workingDir=$(pwd)
cd {{ .ProjectDir }}

{{- if .PluginInitHook }}

# Begin Plugin Init Hook

{{ .PluginInitHook }}

# End Plugin Init Hook

{{- end }}

{{- if .UserHook }}

# Begin Devbox User Hook

{{ .UserHook }}

# End Devbox User Hook

{{- end }}

cd $workingDir

{{- if .ShellStartTime }}
# log that the shell is interactive now!
devbox log shell-interactive {{ .ShellStartTime }}
{{ end }}

# Begin Script command

{{- if .ScriptCommand }}

function run_script {
    workingDir=$(pwd)
    cd {{ .ProjectDir }}

    {{  .ScriptCommand }}

    cd $workingDir
}

{{- end }}

# End Script command
