{{- /*

This template defines the shellrc file that the devbox shell will run at
startup.

It includes the user's original shellrc, which varies depending on their shell.
It will either be ~/.bashrc, ~/.zshrc, a path set in ENV, or something else. It
also appends any user-defined shell hooks from devbox.json.

Devbox needs to ensure that the shell's PATH, prompt, and a few other things are
set correctly after the user's shellrc runs. The commands to do this are in
the "Devbox Post-init Hook" section.

This file is useful for debugging shell errors, so try to keep the generated
content readable.

*/ -}}

{{- if .OriginalInit -}}

# Begin {{ .OriginalInitPath }}

{{ .OriginalInit }}

# End {{ .OriginalInitPath }}

{{ end -}}

# Begin Devbox Post-init Hook

PATH="{{ .PathPrepend }}:$PATH"

{{- if .HistoryFile }}
HISTFILE={{.HistoryFile}}
{{- end }}

# Prepend to the prompt to make it clear we're in a devbox shell.
export PS1="(devbox) $PS1"

# End Devbox Post-init Hook

{{- if .UserHook }}

# Begin Devbox User Hook

# Switch to the directory where devbox.json config is
workingDir=$(pwd)
cd {{ .ConfigDir }}

{{ .UserHook }}

cd $workingDir

# End Devbox User Hook

{{- end }}

# Begin Plugin Init Hook

{{- if .PluginInitHook }}

{{ .PluginInitHook }}

{{- end }}

# End Plugin Init Hook

# Begin Script command

{{- if .ScriptCommand }}

function run_script {
    workingDir=$(pwd)
    cd {{ .ConfigDir }}

    {{  .ScriptCommand }}

    cd $workingDir
}

{{- end }}

# End Script command
