let
  pkgs = import (fetchGit {
    url = "https://github.com/nixos/nixpkgs/";
    ref = "refs/heads/nixos-unstable";
    # Commit hash as of 2022-08-16
    # `git ls-remote https://github.com/nixos/nixpkgs nixos-unstable`
    rev = "af9e00071d0971eb292fd5abef334e66eda3cb69";
  }) {};
in with pkgs;
buildEnv {
  name = "my-env";
  paths = [
  {{- range .Packages}}
    {{.}}
  {{end -}}
  ];
  pathsToLink = [ "/bin" ];
}