let
  pkgs = import (fetchTarball {
    # Commit hash as of 2022-08-16
    # `git ls-remote https://github.com/nixos/nixpkgs nixos-unstable`
    url = "https://github.com/nixos/nixpkgs/archive/af9e00071d0971eb292fd5abef334e66eda3cb69.tar.gz";
    sha256 = "1mdwy0419m5i9ss6s5frbhgzgyccbwycxm5nal40c8486bai0hwy";
  }) {
    {{- if .NixOverlays }}
      overlays = [
      {{- range .NixOverlays }}
        (import (fetchTarball "{{.}}"))
      {{ end -}}
      ];
    {{- end }}
  };
  {{- range .Definitions}}
    {{.}}
  {{end -}}
in with pkgs;
mkShell {
  shellHook =
    ''
      echo "Starting a devbox shell..."

      # We're technically no longer in a Nix shell after this hook because we
      # exec a devbox shell.
      export IN_NIX_SHELL=0
      export DEVBOX_SHELL_ENABLED=1

      # Append the parent shell's PATH so that we retain access to
      # non-Nix programs, while still preferring the Nix ones.
      export "PATH=$PATH:$PARENT_PATH"

      {{- range $i, $value := .DevPackages}}
      export DEVBOX_$(echo {{$value}} | sed "s/\./_/g")=${pkgs.{{.}}}
      {{end -}}

      {{ if debug }}
      echo "PATH=$PATH"
      {{- end }}
    '';
  packages = [
  {{- range .DevPackages}}
    {{.}}
  {{end -}}
  ];
}
