let
  pkgs = import (fetchTarball {
    # Commit hash as of 2022-08-16
    # `git ls-remote https://github.com/nixos/nixpkgs nixos-unstable`
    url = "https://github.com/nixos/nixpkgs/archive/af9e00071d0971eb292fd5abef334e66eda3cb69.tar.gz";
    sha256 = "1mdwy0419m5i9ss6s5frbhgzgyccbwycxm5nal40c8486bai0hwy";
  }) {
    {{- if .NixOverlays }}
      overlays = [
      {{- range .NixOverlays }}
        (import (fetchTarball "{{.}}"))
      {{ end -}}
      ];
    {{- end }}
  };
  {{- range .Definitions}}
    {{.}}
  {{end -}}
in with pkgs;
mkShell {
  shellHook =
    ''
      echo "Starting a devbox shell..."
      export name="devbox"
      export IN_NIX_SHELL=0
      export DEVBOX_SHELL_ENABLED=1

      # We set PURE_NIX_PATH in case the user's init files in the devbox shell
      # end up modifying PATH.
      export PURE_NIX_PATH="$PATH"

      # Make sure we include a basic path for the devbox shell. Otherwise it may
      # fail to start.
      export PATH=$PATH:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin

      {{ if debug }}
      echo "PURE_NIX_PATH=$PURE_NIX_PATH"
      echo "PATH=$PATH"
      {{- end }}
    '';
  packages = [
  {{- range .DevPackages}}
    {{.}}
  {{end -}}
  ];
}
