{
   description = "A devbox shell";

   inputs = {
     nixpkgs.url = "{{ .NixpkgsInfo.URL }}";
     {{- range .FlakeInputs }}
     {{.Name}}.url = "{{.URLWithCaching}}";
     {{- end }}
   };

   outputs = {
     self,
     nixpkgs,
     {{- range .FlakeInputs }}
     {{.Name}},
     {{- end }}
   }:
       let
          pkgs = nixpkgs.legacyPackages.{{ .System }};
          {{- range $_, $pkg := .Packages }}
          {{ $.System }}.{{ $pkg.PackageAttributePath }} = builtins.fetchClosure{
             fromStore = "{{ $pkg.BinaryCacheStore }}";
             fromPath = "{{ $pkg.PathInBinaryStore }}";
          };
          {{- end }}
       in
       {
         devShells.{{ .System }}.default = pkgs.mkShell {
           buildInputs = [
             {{- range $_, $pkg := .Packages }}
             {{ $.System }}.{{ $pkg.PackageAttributePath }}
             {{- end }}
             {{- range .FlakeInputs }}
             {{- range .BuildInputs }}
             {{.}}
             {{- end }}
             {{- end }}
           ];
         };
       };
 }
