{
   description = "A devbox shell";

   inputs = {
     nixpkgs.url = "{{ .Stdenv }}";

     {{- range .FlakeInputs }}
     {{.Name}}.url = "{{.URLWithCaching}}";
     {{- end }}
   };

   outputs = {
     self,
     nixpkgs,
     {{- range .FlakeInputs }}
     {{.Name}},
     {{- end }}
   }:
      let
        pkgs = nixpkgs.legacyPackages.{{ .System }};
        {{- range $_, $flake := .FlakeInputs }}
        {{- if $flake.Ref.IsNixpkgs }}
        {{.PkgImportName}} = (import {{.Name}} {
          system = "{{ $.System }}";
          config.allowUnfree = true;
          config.permittedInsecurePackages = [
            {{- range $flake.Packages }}
            {{- range .AllowInsecure }}
            "{{ . }}"
            {{- end }}
            {{- end }}
          ];
        });
        {{- end }}
        {{- end }}
      in
      {
        devShells.{{ .System }}.default = pkgs.mkShell {
          buildInputs = [
            {{- range $_, $pkg := .Packages }}
            {{- range $_, $output := $pkg.GetOutputsWithCache }}
            {{ if $output.CacheURI -}}
            (builtins.trace "downloading {{ $pkg.Versioned }}" (builtins.fetchClosure {
              {{/*
                fetchClosure only supports http(s) caches and not s3 caches.
                fetchClosureStore returns the http(s) cache the output was found
                in (the public cache or a configured mirror via
                DEVBOX_NIX_BINARY_CACHE), falling back to the default binary
                cache for s3 caches. Since we pre-build everything, fetchClosure
                will not actually fetch anything for an s3 cache and just use the
                local version. This may break if the user somehow removes the
                local store path.
              */}}
              fromStore = "{{ fetchClosureStore $output.CacheURI }}";
              fromPath = "{{ $pkg.InputAddressedPathForOutput $output.Name }}";
              inputAddressed = true;
            }))
            {{- end }}
            {{- end }}
            {{- end }}
            {{- range $_, $flakeInput := .FlakeInputs }}
            {{- range .BuildInputsForSymlinkJoin }}
            (pkgs.symlinkJoin {
              name = "{{.Name}}";
              paths = [
                {{- range .Paths }}
                (builtins.trace "evaluating {{.}}" {{.}})
                {{- end }}
              ];
            })
            {{- end }}
            {{- range .BuildInputs }}
            (builtins.trace "evaluating {{.}}" {{.}})
            {{- end }}
            {{- end }}
          ];
        };
      };
 }
