{{/*
Wrapping the hooks ensures that any script called within doesn't trigger more
init hooks.
Code here should be fish and POSIX compatible. That's why we use export to 
remove the value
*/ -}}
export {{ .InitHookHash }}=true
. "{{ .RawHooksFile }}"
export {{ .InitHookHash }}=""
