{{/* 
    Note: This template is not used if init hook is empty or default

    If hash is set, we're in recursive loop, just exit
*/ -}}

if [ -n "${{ .InitHookHash }}" ]; then
    return
fi

export {{ .InitHookHash }}=true

{{ .Body }}

unset {{ .InitHookHash }}
