{{/* Fish version */ -}}
{{/* if hash is set, we're in recursive loop, just exit */ -}}

if set -q {{ .InitHookHash }}; then
    return
end

export {{ .InitHookHash }}=true

{{ .Body }}

set -e {{ .InitHookHash }}
