{{/* 
    This wraps user scripts in devbox.json. The idea is to only run the init 
    hooks once, even if the init hook calls devbox run again. This will also
    protect against using devbox service in the init hook.

    Scripts always use sh to run, so POSIX is OK. We don't (yet) support fish
    scripts. (though users can run a fish script within their script)
*/ -}}

if [ -z "${{ .SkipInitHookHash }}" ]; then
    . {{ .InitHookPath }}
fi

{{ .Body }}
