/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');
@font-face {
    font-family: 'NaN Hyena Noon VF';
    font-weight: 100 650;
    src: url("https://www.jetify.com/assets/fonts/HyenaNoon-VF.woff2") format("woff2");
}


/* You can override the default Infima variables here. */

:root {
    --space: #0D0C1C;
    --galaxy: #280459;
    --cosmos: #9A81B8;
    --pulsar: #E6A5D0;
    --moon: #F8F4EA;
    --big-bang: #4088E1;
    --indigo-50: #EEF2FF;
    --ifm-color-primary: var(--galaxy);
    --ifm-color-primary-light: var(--cosmos);
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --ifm-font-family-monospace: "IBM Plex Mono", monospace;
    --ifm-font-weight: 500;
    --ifm-font-weight-bold: 600;
    --ifm-color-info-dark: var(--big-bang);
    --ifm-color-info-contrast-background: var(--indigo-50);
    background-color: white;
    --nav-background-color: white;
    --docusaurus-highlighted-code-line-bg: rgba(4, 4, 4, 0.1);
}

html {
    height: 100%;
}

.prism-code>code {
    white-space: pre-wrap;
}

aside>div {
    background-color: var(--nav-background-color);
}


/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
    --ifm-color-primary: var(--pulsar);
    --ifm-color-primary-light: var(--pulsar);
    background-color: var(--space);
    --nav-background-color: var(--space) !important;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: var(--nav-background-color);
}

.footer {
    background-color: var(--galaxy);
}

.footer__links>div {
    text-align: center
}

[data-theme='dark'] .footer {
    background-color: var(--space);
}

@media screen and (max-width:1000px) {
    .header-discord-link::before {
        content: "Discord";
    }
    .header-github-link::before {
        content: "Github"
    }
}

@media screen and (min-width: 1000px) {
    .header-github-link::before {
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-color: var(--galaxy);
        -webkit-mask-image: url("/img/github-light.svg");
        mask-image: url("/img/github-light.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
        /* margin-left: 12px; */
        margin-right: 12px;
    }
    .header-discord-link::before {
        content: "";
        width: 30px;
        height: 24px;
        display: flex;
        background-color: var(--galaxy);
        -webkit-mask-image: url("/img/discord.svg");
        mask-image: url("/img/discord.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
        margin-left: 8px;
        margin-right: 8;
    }
    .header-text-link{
        height: 32px;
    }
    [data-theme='dark'] .header-github-link::before {
        background-color: var(--moon);
    }
    [data-theme='dark'] .header-discord-link::before {
        background-color: var(--moon);
    }
}

[data-theme='dark'] .DocSearch {
    --docsearch-highlight-color: var(--cosmos);
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--cosmos);
    --docsearch-logo-color: var(--moon) !important;
}

.cls-1,
.cls-2 {
    fill: var(--moon) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu__link,
.table-of-contents__link,
.pagination-nav__link {
    font-family: 'NaN Hyena Noon VF', 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-style: normal;
    font-weight: 600;
    /* identical to box height, or 114% */
    font-feature-settings: 'liga' off;
}

h2 {
    font-style: normal;
    font-weight: 600;
}

h3 {
    font-style: normal;
    font-weight: 600;
}

h4,
.pagination-nav__label {
    font-style: normal;
    font-weight: 600;
}

div.theme-doc-markdown.markdown>p>a {
    font-weight: 600;
}

article>a>p {
    font-size: 16px;
}

strong,
.pagination-nav__label {
    font-style: normal;
    /* font-weight: 500; */
}