name: docker-image-release

on: workflow_dispatch

jobs:
  docker-image-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            jetpackio/devbox
          tags: |
            type=semver,pattern={{version}}
          flavor: |
            latest=true
      - name: Docker meta root
        id: metaroot
        uses: docker/metadata-action@v5
        with:
          images: |
            jetpackio/devbox-root-user
          tags: |
            type=semver,pattern={{version}}
          flavor: |
            latest=true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push default
        uses: docker/build-push-action@v5
        with:
          context: ./internal/devbox/generate/tmpl/
          file: ./internal/devbox/generate/tmpl/DevboxImageDockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
      - name: Build and push root user
        uses: docker/build-push-action@v5
        with:
          context: ./internal/devbox/generate/tmpl/
          file: ./internal/devbox/generate/tmpl/DevboxImageDockerfileRootUser
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.metaroot.outputs.tags }}
