name: vscode-ext-release
# Releases the Devbox VSCode extension to the marketplace

concurrency: vscode-ext-release

on: workflow_dispatch

jobs:
  build-publish:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          npm install -g yarn
          npm install -g vsce
          npm install -g ovsx
          yarn install
        working-directory: vscode-extension
      - name: publish-vs
        run: |
          vsce publish -p ${{ secrets.VS_MARKETPLACE_TOKEN }} --yarn --skip-duplicate
        working-directory: vscode-extension
      - name: publish-ovsx
        run: |
          sed -i 's/"ms-vscode-remote.remote-ssh"//g' package.json
          ovsx publish --pat ${{ secrets.OVSX_MARKETPLACE_TOKEN }} --yarn --skip-duplicate
        working-directory: vscode-extension
